{% extends 'layout.html' %}

{% block content %}
<section class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="Jumbotron text-center">What account information do you want to change?</h2>
        <a href="/account/username">Username</a><br><br>
        <a href="/account/password">Password</a><br><br>
        <a href="/account/number">Number</a><br><br>
        <a href="/account/location">Location</a><br><br>
    </div>
    <div class="col-md-2"></div>
</section>

{% endblock content %}