{%  extends "layout.html"  %}

{% block content %}
<h2 class="Jumbotron text-center">Welcome to ShopLite</h2>
<div align="center">
     <video width="20%" controls>
      <source src="../static/media/instructions/Intro.mp4" type="video/mp4">
    </video>
</div>
<br>
<hr>
<br>
<h2 class="Jumbotron text-center">Instructions to Trade</h2>
<div align="center">
     <video width="50%" controls>
      <source src="../static/media/instructions/instructions.mp4" type="video/mp4">
    </video>
</div>

{% endblock content %}